<ion-header transparent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/login"
        routerLink="/login"
        routerDirection="back"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" fullscreen scrollY="false">
  <ion-grid style="height: 100%">
    <ion-row
      class="ion-align-items-center ion-justify-content-center"
      style="height: 100%; flex-direction: column"
    >
      <h2 class="title">Recuperar contraseña</h2>
      <p
        class="subtitle"
        style="max-width: 240px; text-align: center; padding-bottom: 20px;"
      >
        Ingrese su correo electrónico y le enviaremos un enlace de reinicio.
        Verifique la carpeta de spam.
      </p>
      <form
        class="form"
        [formGroup]="validations_form"
        (ngSubmit)="tryRemember(validations_form.value)"
      >
        <ion-item>
          <ion-input
            type="text"
            formControlName="email"
            placeholder="Ingrese su email"
          ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div
              class="error-message"
              *ngIf="
                validations_form.get('email').hasError(validation.type) &&
                (validations_form.get('email').dirty ||
                  validations_form.get('email').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <div class="ion-text-center">
          <ion-button
            type="submit"
            [disabled]="!validations_form.valid"
            shape="round"
            color="primary"
            >Recuperar contraseña
          </ion-button>
        </div>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
