.form {
  min-width: 250px !important;
}

#login_icon {
  display: block;
  margin: 0 auto;
  max-width: 35%;
  padding-bottom: 25px;
  align-self: center;
  text-align: center;
}

.login_back_image {
  display: block;
  max-height: 80%;
  max-width: 80%;
  min-width: 80%;
  object-fit: cover;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
//Avoid keyboard to hide or move elements in the UI
@media (max-height: 450px) {
  img {
    display: none;
  }
}

.validation-errors {
  min-height: 25px;
}

.error-message {
  color: var(--ion-color-danger);
  text-align: right;
  font-size: 0.8em;
  padding-top: 5px;
}

ion-input {
  --color: var(--ion-color-medium);
  --placeholder-font-weight: 400;
}

ion-item {
  --padding-start: 0px;
}

ion-button {
  --border-radius: 50px;
  --box-shadow: none;
  font-size: 14px;
  font-weight: 600;
  margin-top: 40px;
}
