<ion-content class="ion-padding form-content" scrollX="false" scrollY="false">
  <div class="contenido" style="height:100%;">
  <ion-grid style="height:100%; display: flex; flex-flow: column;">
    <ion-row style="margin-bottom: 30px;">
      <img src="assets/icon/favicon.png" id="login_icon"/>
    </ion-row>
    <ion-row
      class="ion-align-items-center ion-justify-content-center"
      style="display:flex; flex-direction: column; flex-grow: 1"
    >
      <form
        class="form"
        [formGroup]="validations_form"
        (ngSubmit)="tryLogin(validations_form.value)"
      >
        <ion-item>
          <ion-input
            type="email"
            formControlName="email"
            placeholder="Ingresa tu email"
          ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div
              class="error-message"
              *ngIf="
                validations_form.get('email').hasError(validation.type) &&
                (validations_form.get('email').dirty ||
                  validations_form.get('email').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-item>
          <ion-input
            type="password"
            formControlName="password"
            placeholder="Contraseña"
          ></ion-input>
        </ion-item>
        <div class="validation-errors ion-text-right">
          <p><a routerLink="/recovery-password">Olvido su contraseña? </a></p>
        </div>
        <div class="ion-text-center">
          <ion-button
            type="submit"
            [disabled]="!validations_form.valid"
            shape="round"
            color="primary"
            >Login
          </ion-button>
          <p>
            No tienes cuenta? <a routerLink="/registro">Crea una cuenta.</a>
          </p>
        </div>
      </form>
    </ion-row>
    <ion-row style="flex-grow: 1" class="login_image">
      <img src="assets/contactenos.png" alt="back_image" class="login_back_image" style="margin:auto;">
    </ion-row>
  </ion-grid>
</div>
</ion-content>
