.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  white-space: normal !important;
  font-size: 0.8em;
}

.alert-radio-label.sc-ion-alert-md {
  white-space: inherit !important;
  font-size: 5px !important;
}

ion-input {
  font-size: 0.7em;
}

img {
  object-fit: contain;
}

ion-item {
  --highlight-color-valid: var(--ion-color-warning, #f49c14) !important;
}

ion-label {
  color: grey !important;
  border: none;
  margin-bottom: 0px;
}

ion-input {
  --placeholder-color: grey;
  --placeholder-opacity: 1;
}

ion-button {
  margin-bottom: 10px;
}

ion-content {
  justify-content: center;
  text-align: center;
}

ion-input {
  padding-left: 16px !important;
}
ion-select {
  width: 100%;
  max-width: 100% !important;
  font-size: 14px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

ion-item {
  --min-height: 30px !important;
  margin-bottom: 10px;
}

ion-input {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 0px;
}
